/*Custom Text*/
body{
      background-image: url(../assets/images/underthebridge.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0em;
}

header{
      background: black; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); /*Safari 5.1-6*/
      background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,1)); /*Opera 11.1-12*/
      background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,1)); /*Fx 3.6-15*/
      background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)); /*Standard*/
      height: 8em;
      padding-top: 1em;
      width: 100%;
}

#middle-text{
      color: white;
      font-family:  Walkway-UltraBold, Arial, Helvetica;
      font-size: 6em;
      margin: 0 auto;
      text-align: center;
      width: 50%;
}

footer{
      background: black; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,1)); /*Safari 5.1-6*/
      background: -o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); /*Opera 11.1-12*/
      background: -moz-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); /*Fx 3.6-15*/
      background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /*Standard*/
      bottom: 0;
      height: 2em;
      position: fixed;
      width: 100%;     
}

/*Animations*/
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
      opacity:0;  
      -webkit-animation:fadeIn ease-in 1;  
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;

      -webkit-animation-fill-mode:forwards;  
      -moz-animation-fill-mode:forwards;
      animation-fill-mode:forwards;

      -webkit-animation-duration:2s;
      -moz-animation-duration:2s;
      animation-duration:2s;
}

.fade-in.main {
      -webkit-animation-delay: .3s;
      -moz-animation-delay:.3s;
      animation-delay: .3s;
}


/*Typefaces*/
@font-face {
      font-family: 'Walkway'; /*a name to be used later*/
      src: url('../assets/Walkway/Walkway_SemiBold.ttf'); /*URL to font*/
}

@font-face {
      font-family: 'Walkway-UltraBold';
      src:  url('../assets/Walkway/Walkway_UltraBold.ttf');
}

h1{
      color: white;
      font-family: Walkway, Arial, Helvetica, sans-serif;
      font-size: 2.5em;
      margin-top: 0em;
      margin-left: 1em;
}

h2{
      color: white;
      font-family: Walkway, Arial, Helvetica, sans-serif;
      font-size: 2em;
}