/*Custom Text*/
h1{
	color:#55C8FF;
}

nav {
	color: blue;
}

.white {
	color: white;
}

/*Bootstrap Class Overrides*/
.jumbotron {
   opacity: 0.7;
}

/*Background images for pages*/

.aboutBackground {
	background: url(../images/osbeach.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

.homeBackground {
	background: url(../images/bluesaybrook.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

.projectBackground {
	background: url(../images/famous.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

.resumeBackground {
	background-color: aquamarine;
}

.contactBackground {
	background: url(../images/ogDesk.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}
