#landingBackground{
    background-image: url('../assets/images/underthebridge.jpeg');
}

main {
    clear: both;
}

.landinganimation {
    height: 50vh;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#middle-text {
    text-align: center;
    color: white;
    font-family:  Walkway-UltraBold, Arial, Helvetica;
    font-size: 6em;
    margin: 0 auto;
    width: 50%;
}