footer{
    background-color:#131313;
    color: white;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;  
    svg{
        transition: all .5s;
        &:hover{
            color: #056c8b;
            transform: rotate(1turn);
        }
    }
}
.infoFooter{
    text-align: center;
    color: white;
    font-size: 20px;
    height: auto;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
}