footer{
    background-color:black;
    color: white;
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    width: 100%;  
}
.infoFooter{
    text-align: center;
    color: white;
    font-size: 20px;
    height: auto;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
}