@media all and (max-width: 600px) {
    .header-logo {
        font-size: 2em;
        margin-left: -140px;
    }
    .window, .window-fly{
        height: 300px;
        max-width: 300px;
    }
    .rowFlex{
        flex-wrap: wrap-reverse;
    }
    .rowFlex #circleme {
        margin: 0 auto;
    }   
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1.25em;
    }
    h3{
        font-size: 1.1em;
    }
    h4{
        font-size: 1.1em;
    }
    pre {
        font-size: 0.9em;
        padding-left: 4px;
        padding-right: 4px;
    }
}    
@media all and (min-width: 600px) and (max-width:1050px) {
    .header-logo {
        font-size: 4em;
    }   
    header {
        height: 6em;
    }
}   