/*Buttons*/
.nav-btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #f0fbfd;
    color: #f0fbfd;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1em;
    font-weight: 400;
    margin-right: 1em;
    margin-left: 1em;
    padding: .9em 1.4em;
    text-decoration: none;
    text-align: center;
    font-family: 'Walkway', Arial;
    &:hover, &:focus{
        outline: 0;
    }
}

.navbutton-animation {
    background-size: 210%;
    background-color: rgba(0, 0, 0, 1);
    -webkit-transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
    color: #f0fbfd;
    &:hover{
        color: #1b392a;
        background-color: #f0fbfd;
    }
}