.header-image { 
    background-image: url('../../assets/images/underthebridge.jpeg');
    position: relative;
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
    z-index: 3;
}

.header-logo {
    text-align: center;
    color: white;
    font-family:  Walkway-UltraBold, Arial, Helvetica;
    font-size: 5.5em;
    max-width: 640px;
    //background-color: tomato;
    position: absolute;
    top: 50%;
    margin-top: -180px;
    left: 50%;
    margin-left: -320px;
}

.content{
    padding: 100px 0;
    text-align: center;
    margin: auto;
    margin-bottom: 400px;
    z-index: 2;
    position: relative;
    background: white;
    width: 100%;
}

.window{
    height: 640px;
    max-width: 640px;
    margin: 0 auto;
    background-image: url("../../assets/images/nojumping.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 50%;
    margin-top: 100px;
}

