@mixin expanded-parallax-images {
    position: relative;
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
    z-index: 3;
}
.header-image { 
    background-image: url('../../assets/images/underthebridge.jpeg');
    @include expanded-parallax-images;
}

.trailer-image { 
    background-image: url('../../assets/images/famous.jpg');
    @include expanded-parallax-images;
}

.story-beginnings { 
    background-image: url('../../assets/images/bluesaybrook.jpg');
    @include expanded-parallax-images;
}

.story-middles { 
    background-image: url('../../assets/images/saltfresh.jpg');
    @include expanded-parallax-images;
}

.header-logo {
    text-align: center;
    color: white;
    font-family:  Walkway-UltraBold, Arial, Helvetica;
    font-size: 5.5em;
    max-width: 640px;
    //background-color: tomato;
    position: absolute;
    top: 50%;
    margin-top: -180px;
    left: 50%;
    margin-left: -320px;
}

.content{
    padding: 10px 0;
    text-align: center;
    margin: auto;
    margin-bottom: 400px;
    z-index: 2;
    position: relative;
    background: white;
    width: 100%;
}

@mixin window-template{ 
    height: 640px;
    max-width: 640px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.window{
    background-position: top center;
    @include window-template;
    background-image: url("../../assets/images/nojumping.jpg");
}

.window-fly{
    background-position: bottom center;
    @include window-template;
    background-image: url("../../assets/me/dragonfly.jpg");
}


.story-time{
    max-width: 640px;
    margin: 0 auto;
}